@import "@/styles/variables/fonts.scss";
@import "@/styles/variables/breakpoints.scss";

.itemCategoryWp {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;

  @include f--b2-light;

  // @media (min-width: 690px) {
  //   $size: 1rem;

  //   font-size: $size;
  //   line-height: $size * 1.5;
  // }

  button {
    width: 48px;
    flex-shrink: 0;
  }

  .data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    .amount {
      width: 34px;
      flex-shrink: 0;
      @media (min-width: $bpMdMin) {
        width: 48px;
      }
      &--income {
        color: var(--success-main);
      }
      &--expense {
        color: var(--red-main);
      }
    }
  }
}
