@import "@/styles/variables/breakpoints.scss";
@import "@/styles/variables/fonts.scss";

.graphicCardWp {
  min-width: 300px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;

  @media (min-width: $bpMdMin) {
    min-width: 430px;
  }

  .amount {
    width: 100%;
    background-color: var(--color-background-image-login);
    border-radius: 8px;
    padding: 8px;

    @include f--b1-regular;
  }

  .description {
    display: flex;
    gap: 4px;
    align-items: center;

    span {
      height: 16px;
    }

    .icon {
      svg {
        width: 16px;
        height: 16px;
      }
      &--income {
        svg {
          color: green !important;
        }
      }
      &--expense {
        color: red;
        svg {
          color: red !important;
        }
      }
    }
  }
}
