.categoryBtn {
  width: 48px;
  height: 48px;

  border: none;
  border-radius: 8px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 8px 24px rgba(0, 0, 0, 0.35);
  cursor: pointer;

  .add {
    svg {
      transform: scale(1.2);
    }
  }

  .bets,
  .car,
  .electricity,
  .food,
  .health,
  .heating,
  .insurance,
  .internet,
  .beers,
  .mortgage,
  .paylist,
  .pets,
  .scholarship,
  .studies,
  .water,
  .restaurant {
    svg {
      transform: scale(0.7);
    }
  }

  .tax {
    svg {
      transform: scale(0.6);
    }
  }
  .icon {
    height: 24px;
    width: 24px;

    svg {
      color: white !important;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.readOnly {
  box-shadow: none;
  cursor: auto;
  &:hover {
    transform: none;
  }
}
