$bpSxsMin: 0px;
$bpSsMin: 340px;
$bpSmMin: 480px;
$bpMdMin: 768px;
$bpDtMin: 1024px;
$bpDtLMin: 1440px;
$bpDtXLMin: 1920px;

$bpSxsMax: 339px;
$bpSsMax: 479px;
$bpSmMax: 767px;
$bpMdMax: 1023px;
$bpDtMax: 1439px;
$bpDtLMax: 1919px;
